@use "variables" as v;

@mixin largeScreens {
  @media (min-width: 700px) {
    @content;
  }
}

@mixin cardHeader {
  width: 100%;
  border-bottom: v.$border;
  padding-bottom: v.$card-header-gap;
  margin-bottom: v.$card-header-gap;
  font-size: 1rem;
}

@mixin card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: v.$border-radius;
  backdrop-filter: blur(50px);
  box-shadow: v.$box-shadow;
}
