@use "variables" as v;
@use "mixins" as m;

.main-menu {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;

  &__heading {
    font-size: 3rem;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-shadow: v.$text-shadow;
  }

  &__edit {
    background-color: transparent;
    border: none;
    color: v.$text-color;
    font-size: 1rem;
    font-weight: 700;
    text-shadow: v.$text-shadow;
    cursor: pointer;
    margin-top: 0.5rem;
  }

  &__search-bar {
    width: 100%;
    position: relative;
  }

  &__search-input {
    box-sizing: border-box;
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: v.$border-radius;
    border: none;
  }

  &__search-results {
    position: absolute;
    z-index: 2;
    transform: translateZ(100px);
    left: 0;
    right: 0;
    background-color: v.$elevation;
    border-bottom-right-radius: v.$border-radius;
    border-bottom-left-radius: v.$border-radius;

    &--hidden {
      display: none;
    }

    .search-result {
      padding: 0.75rem;
      border-bottom: v.$border;
      cursor: pointer;

      &:last-child {
        border: none;
      }

      &:hover {
        background-color: v.$elevation-2;
      }

      &__name {
        font-size: 1.25rem;
        font-weight: 400;
      }
    }
  }

  &__cities-list {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
}

.city-wrapper {
  // display: flex;
  align-items: center;
  gap: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Maximal 2 Zeilen */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  &__delete {
    display: none;
    width: 2rem;
    filter: drop-shadow(v.$text-shadow);
    color: rgb(241, 60, 60);
    cursor: pointer;

    &--show {
      display: block;
    }
  }
}

.city {
  @include m.card;
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  cursor: pointer;
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    var(--condition-image);

  background-size: cover;
  background-position: 50% 25%;
  text-shadow: v.$text-shadow;
  flex-grow: 1;

  &__name {
    font-weight: 400;
    font-size: 1.5rem;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__condition {
    margin-top: 2rem;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__temperature {
    font-size: 2.5rem;
    font-weight: 300;
    text-align: right;
  }

  &__right-column {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
